#audioContainer {
	padding: 10px;
	position: relative;
	width: 100%;
	margin-top: 7px;
}

#audioContainer > * {
	height: 40px;
}

#audioTimeline {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	margin-top: -10px;
}

#audioConstrols > button {
	width: 80px;
}

#audioTimelineContainer > div.range-field {
	padding: 0px 13px;
}

#audioContainer .thumb {
	z-index: 10;
}

#audioConstrols {
	position: absolute;
	top: 0px;
}

#audioContainer.audioEditMusic {
	height: 233px;
}

#audioContainer.audioEditPerformance {
	height: 69px;
}

.audioEditMusic #audioTimelineContainer {
	width: 100%;
	overflow-x: auto;
	height: 250px;
	position: absolute;
	top: 0px;
}

.audioEditPerformance #audioTimelineContainer {
	overflow-x: auto;
	overflow-y: hidden;
	height: 117px;
	position: absolute;
	top: -47px;
	left: 100px;
	right: 0px;
}

.audioTimestamp {
	position: absolute;
	width: 150px;
	text-align: center;
	font-size: 12px;
}

.audioTimestamp > div {
	position: absolute;
	left: 75px;
	width: 1px;
	height: 5px;
	background: black;
}

.audioTimestampTime {
	position: relative;
	top: 5px;
}