.dragTimeFrame {
	width: calc(100% - 150px);
	margin-left: 15px;
	height: 7px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	display: inline-block;
	background: linear-gradient(90deg, #ccc 50%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 0), transparent;
	background-size: 10px auto;
}

.taktContainer {
	width: 100%;
	height: 40px;
	background:#009688;
}

.timeFrame {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 60px;
	background: #f44336;
}

.rhythmSelect {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url(/Choreographer/img/ic_keyboard_arrow_down_white_24dp_2x.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 19px !important;
	padding: 0px;
	margin: 0px;
	color: white;
	border: none;
	border-bottom: 1px solid white !important;
}

.rhythmSelect:focus {
	outline: none;
}