#line {
	border-bottom: 1px solid black;
	height: 150px;
	position: relative;
	background-color: #009688;
	background-image:
		linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(#CCCCCC 1px, transparent 1px),
		linear-gradient(90deg, #CCCCCC 1px, transparent 1px);
	background-size: 80px 80px, 80px 80px, 10px 10px, 10px 10px;
	background-position: -2px -6px, -2px -2px, -1px -4px, -1px -1px;
}

#beat-cont {
	display: none;
}

.beat-cont {
	box-sizing: border-box;
	width: 18px;
	position: absolute;
	min-height: 35px;
	top: calc(150px - 35px);
	vertical-align: bottom;
	bottom: 0px;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px;
}

.beat-cont-handler-drag {
	height: 100%;
	width: 20px;
	display: inline-block;
}

.beat-cont-data {
	top: calc(50% - 7px);
	transform: translateY(-50%);
	text-align: center;
	position: relative;
}

.beat-cont > i {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 2px;
	width: 15px;
	height: 15px;
}

#line-label {
	border-color: #9E9E9E;
	border-style: solid;
	border-width: 0px 1px;

	position: relative;
}

#line-label > div {
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #9E9E9E;
	top: 50%;
	transform: translateY(-50%);
}

#line-label > label {
	padding: 0px 13px;
	background-color: white;
	position: relative;
}

#rhythmPlayMarker {
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	width: 2px;
	background: black;
}