html {
	overflow: hidden;
}

#stageContainer {
	position: relative;
	height: calc(100vh - 170px);
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: none;
	box-sizing: border-box;
	z-index: 10;
}

#StageCanvas {
	position: absolute;
	z-index: 11;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

#StageWebGL {
	position:relative;
	display:block;
}

#stageContainer > h6 {
	border-bottom: 2.5px solid black;
	padding: 5px;
	margin: 0px;
}

#action-side-nav {
	height: 100vh;
}

#buttonShowHideActionButtons {
	position: fixed;
	top: 0px;
	right: 77px;
	z-index: 1000;
}




/* START modal person form */
#modalOffsetPerson {
	height: 80%;
}

#modalOffsetPerson > div.modal-content {
	position: absolute;
	top: 0px;
	bottom: 40px;
	width: 100%;
}

#modalOffsetPerson > div.modal-content > div.row {
	height: 100%;
}

#modalOffsetPerson > div.modal-content > div.row > div.performersScrollContainer {
	height: 100%;
	overflow-y: scroll;
}

#modalOffsetPerson > div.modal-footer {
	position: absolute;
	bottom: 0px;
}

.offsetPersonSelect {
	width: 100%;
	text-align: left;
}
/* END modal person form */





/* START action buttons styling */
#action-side-nav {
	transform: translateX(0%) !important;
}

#action-side-nav * {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
}

#action-side-nav i {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
/* END action buttons styling */





/* START timeline styling */
#timelineContainer {
	height: 100px;
	overflow-y: scroll;
	position: relaive;
}

.nameHolder {
	width: 100px;
	position: absolute;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	word-break: break-all;
}

.timelineHolder {
	margin-left: 103px;
}

.timelineHolder div {
	display: inline-block;
}

.timelineDiv {
	border-bottom: 1px solid black;
	padding: 0px 5px;
	height: 24px;
	line-height: 11px;
	position: relative;
}

.timelineDiv:hover, .timelineDiv.active .musicFrameSeparator {
	background-color: #bbdefb; /* blue lighten-4 */
}

.timelineDiv.active, .timelineDiv.active .musicFrameSeparator {
	background-color: #64b5f6; /* blue lighten-2 */
}

.timelineDiv.active:hover, .timelineDiv.active .musicFrameSeparator {
	background-color: #2196f3; /* blue */
}

.timeFrameDiv {
	position: relative;
}

.musicFrameSeparator {
	width: 2px;
	position: absolute;
	left: -1px;
	top:0px;
	bottom: 0px;
	background-color: white;
	display: block;
	z-index: 2;
}

.frame {
	border-left: 1px solid #1b5e20; /* green darken-4 */
	height: 23px;
	width: 7px;
	background-color: #4caf50; /* green */
	padding: 0px;
	margin: 0px;
}

.keyFrameDiv {
	background-color: #f44336; /* red */
}


.frame[selected] {
	background-color: #00e5ff ; /* cyan accent-3 */
}

.keyFrameDiv[selected] {
	background-color: #673ab7; /* deep-purple */
}

#slide-out .collapsible .select-wrapper + label {
	top: -30px;
}

#slide-out .collapsible input[type="text"]:not(.browser-default){
	height: 4rem;
}

#keyFrameDataShow {
	position: absolute;
	z-index: 11;
	transform: translate(-25%, -100%);
}

#keyFrameDataShow * {
	margin: 3px;
}

#keyFrameDataShow .card-content {
	padding: 10px;
	position: relative;
}

#keyFrameDataShow .card-action {
	padding: 11px 28px;
	text-align-last: justify;
}

#keyFrameDataShow .editKeyFramePrefix {
	width: 50px;
}
/* END timeline styling */