html, body{
	height: 100%;
}

body > section {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	position: relative;
}

footer {
	width: 100%;
}

nav.navbar-fixed {
	z-index: 998;
}

.bolded {
	font-weight: bold;
}

.bottom-padding-20 {
	padding-bottom: 20px;
}

.centered {
	text-align: center;
}

.clear {
	clear: both;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

.hand {
	cursor: pointer;
}

.hidden {
	display: none;
}

.inline-block {
	display: inline-block;
}

.italic {
	font-style: italic;
}

.justify {
	text-align: justify;
	text-justify: inter-word;
	align-items: center;
	justify-content: center;
}

.padding-20 {
	padding: 20px;
}

.top-padding-20 {
	padding-top: 20px;
}

.bottom-padding-20 {
	padding-bottom: 20px;
}

.transparent {
	background-color: transparent;
}

.vertical-middle {
	vertical-align: middle;
}

#logo-container, #logo-container > img {
	height: 100%;
	padding: 5px 0px;
}

#logo-container ~ ul.hide-on-med-and-down > li > a {
	color: inherit;
}