<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div style="width: 75%; margin: 0px auto; background-color: #ffffff; font-family: 'Roboto', sans-serif;">
	<div style="background-color: #009688; padding: 11px; padding-left: 23px; 
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);">
		<img src="https://choreographer.tk/Choreographer/img/logo.png" width="100px" align="middle" />
	</div>
	<br /><br />
	<p style="text-align: justify; width: 75%; margin: 0px auto;">
		Здравейте %s,
		<br /><br />
		Ние, екипът на Choreograp<span style="color: #F44336;">h</span>er, се радваме да ви приветстваме в приложението. 
		Надяваме се работата Ви да е успешна и ползотворна! При възникнали въпроси и/или проблеми по време на работа със 
		софтура, можете да проверите нашия 
		<a href="https://choreographer.tk/Choreographer/about/help.jsp" target="_blank">Наръчник за работа със сайта</a>, 
		а също и да се свържете с нас на e-mail адрес 
		<a href="mailto:support@mail.choreographer.tk">support@mail.Choreograp<span style="color: #F44336;">h</span>er.tk</a> 
		или чрез контактната форма в сайта.
		<br /><br />
		Пожелаваме Ви приятна и безпроблемна  работа!
		<br /><br /><br />
		С Уважение,
		<br />
		Екипът на Choreograp<span style="color: #F44336;">h</span>er
		<br /><br />
		<a href="https://choreographer.tk/Choreographer/" target="_blank">Choreograp<span style="color: #F44336;">h</span>er.tk</a>
		<br /><br /><br />
	</p>
	<div style="text-align: center; height: 41px; line-height: 41px; vertical-align: middle; 
			color: #ffffff; background-color: #5C7784; ">
		<object data="https://choreographer.tk/Choreographer/img/ic_copyright_white_24dp_2x.png" type="image/png" 
				height="20px" align="top" style="margin-top: 11px;" >
			<span style="font-size: 1.3em;">&copy;</span>
		</object>
		Petar Toshev 2017
	</div>
</div>